@page "/"
@inherits ToAppComponentBase
<div class="container">
    <Card>
        <CardHeader>
            <CardTitle>
                TODO LIST
            </CardTitle>
        </CardHeader>
        <CardBody>
            <!-- FORM FOR NEW TODO ITEMS -->
            <form id="NewItemForm" @onsubmit:preventDefault @onsubmit="() => Create()" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <div class="input-group">
                        <input name="NewTodoText" type="text" @bind-value="@NewToText" class="form-control" placeholder="enter text..." />
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <!-- TODO ITEMS LIST -->
            <ul id="ToList">
                @foreach (var toItem in ToItems)
                {
                    <li data-id="@toItem.Id">
                        <i class="far fa-trash-alt"
                       @onclick="() => Delete(toItem)"></i> @toItem.Text
                    </li>
                }
            </ul>
        </CardBody>
    </Card>
</div>
